html{
    width: 100%;
    height: 100%;
}

body{
    /* background-color: red; */

    background: url("../img/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}